/* web/styles/input_text.css */

inputText-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.inputText-container-label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 4px;
    color: #333;
}

.inputText-container-input {
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputText-container-input-disabled {
    background-color: #757171;
}

/* The blue ring effect on focus */
.inputText-container-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.inputText-container-input::placeholder {
    color: #adb5bd;
}
